<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-color</title>
</head>

<body>
    <div class="column-box" id="app">
        <div id="control-box">
            <div class="control-item">
                <p>
                    <label>H</label>
                    <input type="number" min="0" max="360" v-model="h" />
                    <span class="unit">°</span>
                    <input type="range" min="0" max="360" v-model="h" />
                </p>
                <p class="comment">Hue（色相） 0°：赤、180°：青緑</p>
            </div>
            <div class="control-item">
                <p>
                    <label>S</label>
                    <input type="number" min="0" max="100" v-model="s" />
                    <span class="unit">％</span>
                    <input type="range" min="0" max="100" v-model="s" />
                </p>
                <p class="comment">Saturation（彩度） 0％：灰色</p>
            </div>
            <div class="control-item">
                <p>
                    <label>L</label>
                    <input type="number" min="0" max="100" v-model="l" />
                    <span class="unit">％</span>
                    <input type="range" min="0" max="100" v-model="l" />
                </p>
                <p class="comment">Lightness（輝度） 0％：黒、100％：白</p>
            </div>
            <!--p {{calcMax()}}-->
            <!--p {{calcMin()}}-->
        </div>
        <div id="preview-box">
            <svg id="color-box">
                <rect x="0" y="0" width="200" height="50" v-bind:fill="colorcode"></rect>
            </svg>
            <p id="code">{{colorcode}}</p>
            <p id="rgb">rgb({{r}}, {{g}}, {{b}})</p>
            <p id="hsl">hsl({{h}}, {{s}}%, {{l}}%)</p>
        </div>
    </div>
</body>

</html>